* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;
    background-color: lightgray;
    padding: 17px;
    margin-bottom: 17px;
}


nav {
    background-color: #ef7d19;
}

ul {
    display: flex;
    height: 100%;
    align-items: center;
}

nav ul li {
    padding-left: 17px;
}

nav ul li:nth-child(4) {
    padding-right: 17px;
}
